{% for obj in component.get_queryset() %}
    <div class="col-lg-10">
        <p>{{ obj.usuario }}</p>
        <p>{{ obj.titulo }}</p>
        <p>Nota: {{ obj.nota }}</p>
        <p style="font-size: 300%;">
        {% for estrela in obj.get_estrelas() %}
            <i class="fa fa-{{ estrela }}"></i>
        {% endfor %}
        </p>
    </div>
{% endfor %}